:root{
    --primary-color: #fff8e6;
    --primary-color-dark: #fff8e6;
    --accent-color: #00a2ff;
    --text-color: #000000;
    --accent-text-color: #ffffff;

    --text-font-family: 'Segoe UI', 'Arial Rounded MT Bold', 'Helvetica Rounded', sans-serif;
    --button-font-weight: 600;
    --border-color: 2px solid #000000;

    --box-shadow-intern: -3px 3px 0px rgba(0,0,0,1);
    --box-shadow-extern: -10px 10px 5px rgba(0,0,0,1);

    --button-primary-color: #eee;
    --red-color:#e74c3c;
    --white-color: #fff;
    --transparent-color:white;
}
body{
    font-family: var(--text-font-family);
    color: var(--text-color);
    background-color: var(--white-color);
}
.headbar {
    width: 100%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    border-bottom: var(--border-color);
    border-radius: 3px 3px 0 0;
    color: var(--accent-text-color);
}

.headbar p {
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: var(--button-font-weight);
    color: var(--accent-text-color);
}

.close-btn {
    position: absolute;
    right: 8px;
    background: transparent;
    border: none;
    color: var(--button-primary-color);
    font-size: 1.2em;
    cursor: pointer;
}
.close-btn:hover {
    filter: brightness(50%);
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
}

.popup-form input[type="text"], .popup-form input[type="password"] {
    background-color: var(--transparent-color);
    border-radius: 5px;
    border: var(--border-color);
    padding: 5px;
    font-size: small;
    font-family: var(--text-font-family);
}

.btn-style {
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-intern);
    border-radius: 5px;
    border: var(--border-color);
    font-weight: var(--button-font-weight);
    font-size: medium;
    font-family: var(--text-font-family);
    color: var(--text-color);
    cursor: pointer;
}

.btn-submit {
    padding: 5px;
}

.btn-style:hover {
    filter: brightness(90%);
}

.btn-style:active {
    box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.btn-popup {
    padding: 5px 25%;
}

.btn-bar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.window {
    background-color: var(--primary-color);
    border: var(--border-color);
    border-radius: 5px;
}

.shadow {
  box-shadow: var(--box-shadow-intern);
}

textarea {
    flex: 1;
    padding: 10px;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    min-height: 40px;
    max-height: 200px;
    resize: none;
    overflow: hidden;
    line-height: 1.4;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
}
