:root{
    --primary-color: #fff8e6;
    --primary-color-dark: #fff8e6;
    --accent-color: #00a2ff;
    --text-color: #000000;
    --accent-text-color: #ffffff;

    --text-font-family: 'Segoe UI', 'Arial Rounded MT Bold', 'Helvetica Rounded', sans-serif;
    --boutton-font-weight: 600;
    --border-color: 2px solid #000000;
    
    --box-shadow-intern: -3px 3px 0px rgba(0,0,0,1);
    --box-shadow-extern: -10px 10px 5px rgba(0,0,0,1);

    --boutton-primary-color: #eee;
    --transparent-color: transparent;
    --red-color:#e74c3c;
}
.headbar {
    width: 100%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    border-bottom: var(--border-color);
    border-radius: 3px 3px 0 0;
    color: var(--accent-text-color);
}

.headbar p {
    margin-left: 15px;
    font-size: 1.2em;
    font-weight: var(--boutton-font-weight);
    color: var(--accent-text-color);
    font-family: var(--text-font-family);
}

.close-btn {
    position: absolute;
    right: 8px;
    background: var(--transparent-color);
    border: none;
    color: var(--boutton-primary-color);
    font-size: 1.2em;
    cursor: pointer;
}
.close-btn:hover {
    filter: brightness(50%);
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
}

.popup-form input[type="text"] {
    background-color: var(--transparent-color);
    border-radius: 5px;
    border: var(--border-color);
    padding: 5px;
    font-size: small;
    font-family: var(--text-font-family);
}

.btn-style {
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-intern);
    border-radius: 5px;
    border: var(--border-color);
    font-weight: var(--boutton-font-weight);
    font-size: medium;
    font-family: var(--text-font-family);
    color: var(--text-color);
}

.btn-submit {
    padding: 5px;
}

.btn-style:hover {
    filter: brightness(90%);
}

.btn-style:active {
    box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.btn-popup {
    padding: 5px 25%;
}

.btn-bar {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
}   